<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>com.schriftgestaltung.customParameter.GSFont.disablesAutomaticAlignment</key>
  <true/>
  <key>com.schriftgestaltung.customParameter.GSFont.disablesLastChange</key>
  <true/>
  <key>com.schriftgestaltung.customParameter.GSFont.useNiceNames</key>
  <integer>0</integer>
  <key>com.schriftgestaltung.weightValue</key>
  <integer>400</integer>
  <key>com.schriftgestaltung.width</key>
  <string>Regular</string>
  <key>com.schriftgestaltung.widthValue</key>
  <integer>100</integer>
  <key>public.glyphOrder</key>
  <array>
    <string>.notdef</string>
    <string>.null</string>
    <string>nonmarkingreturn</string>
    <string>space</string>
    <string>space.knda</string>
    <string>exclam</string>
    <string>exclam.knda</string>
    <string>quotedbl</string>
    <string>numbersign</string>
    <string>dollar</string>
    <string>percent</string>
    <string>ampersand</string>
    <string>quotesingle</string>
    <string>parenleft</string>
    <string>parenleft.knda</string>
    <string>parenright</string>
    <string>parenright.knda</string>
    <string>asterisk</string>
    <string>plus</string>
    <string>comma</string>
    <string>comma.knda</string>
    <string>hyphen</string>
    <string>hyphen.knda</string>
    <string>period</string>
    <string>period.knda</string>
    <string>slash</string>
    <string>slash.knda</string>
    <string>zero</string>
    <string>zero.knda</string>
    <string>one</string>
    <string>one.knda</string>
    <string>two</string>
    <string>two.knda</string>
    <string>three</string>
    <string>three.knda</string>
    <string>four</string>
    <string>four.knda</string>
    <string>five</string>
    <string>five.knda</string>
    <string>six</string>
    <string>six.knda</string>
    <string>seven</string>
    <string>seven.knda</string>
    <string>eight</string>
    <string>eight.knda</string>
    <string>nine</string>
    <string>nine.knda</string>
    <string>colon</string>
    <string>colon.knda</string>
    <string>semicolon</string>
    <string>semicolon.knda</string>
    <string>less</string>
    <string>equal</string>
    <string>greater</string>
    <string>question</string>
    <string>question.knda</string>
    <string>at</string>
    <string>A</string>
    <string>B</string>
    <string>C</string>
    <string>D</string>
    <string>E</string>
    <string>F</string>
    <string>G</string>
    <string>H</string>
    <string>I</string>
    <string>J</string>
    <string>K</string>
    <string>L</string>
    <string>M</string>
    <string>N</string>
    <string>O</string>
    <string>P</string>
    <string>Q</string>
    <string>R</string>
    <string>S</string>
    <string>T</string>
    <string>U</string>
    <string>V</string>
    <string>W</string>
    <string>X</string>
    <string>Y</string>
    <string>Z</string>
    <string>bracketleft</string>
    <string>backslash</string>
    <string>bracketright</string>
    <string>asciicircum</string>
    <string>underscore</string>
    <string>grave</string>
    <string>a</string>
    <string>b</string>
    <string>c</string>
    <string>d</string>
    <string>e</string>
    <string>f</string>
    <string>g</string>
    <string>h</string>
    <string>i</string>
    <string>j</string>
    <string>k</string>
    <string>l</string>
    <string>m</string>
    <string>n</string>
    <string>o</string>
    <string>p</string>
    <string>q</string>
    <string>r</string>
    <string>s</string>
    <string>t</string>
    <string>u</string>
    <string>v</string>
    <string>w</string>
    <string>x</string>
    <string>y</string>
    <string>z</string>
    <string>braceleft</string>
    <string>bar</string>
    <string>braceright</string>
    <string>asciitilde</string>
    <string>nbspace</string>
    <string>nbspace.knda</string>
    <string>exclamdown</string>
    <string>cent</string>
    <string>sterling</string>
    <string>currency</string>
    <string>yen</string>
    <string>brokenbar</string>
    <string>section</string>
    <string>dieresis</string>
    <string>copyright</string>
    <string>ordfeminine</string>
    <string>guillemotleft</string>
    <string>logicalnot</string>
    <string>softhyphen</string>
    <string>registered</string>
    <string>macron</string>
    <string>degree</string>
    <string>plusminus</string>
    <string>twosuperior</string>
    <string>threesuperior</string>
    <string>acute</string>
    <string>mu</string>
    <string>paragraph</string>
    <string>periodcentered</string>
    <string>cedilla</string>
    <string>onesuperior</string>
    <string>ordmasculine</string>
    <string>guillemotright</string>
    <string>onequarter</string>
    <string>onehalf</string>
    <string>threequarters</string>
    <string>questiondown</string>
    <string>Agrave</string>
    <string>Aacute</string>
    <string>Acircumflex</string>
    <string>Atilde</string>
    <string>Adieresis</string>
    <string>Aring</string>
    <string>AE</string>
    <string>Ccedilla</string>
    <string>Egrave</string>
    <string>Eacute</string>
    <string>Ecircumflex</string>
    <string>Edieresis</string>
    <string>Igrave</string>
    <string>Iacute</string>
    <string>Icircumflex</string>
    <string>Idieresis</string>
    <string>Eth</string>
    <string>Ntilde</string>
    <string>Ograve</string>
    <string>Oacute</string>
    <string>Ocircumflex</string>
    <string>Otilde</string>
    <string>Odieresis</string>
    <string>multiply</string>
    <string>Oslash</string>
    <string>Ugrave</string>
    <string>Uacute</string>
    <string>Ucircumflex</string>
    <string>Udieresis</string>
    <string>Yacute</string>
    <string>Thorn</string>
    <string>germandbls</string>
    <string>agrave</string>
    <string>aacute</string>
    <string>acircumflex</string>
    <string>atilde</string>
    <string>adieresis</string>
    <string>aring</string>
    <string>ae</string>
    <string>ccedilla</string>
    <string>egrave</string>
    <string>eacute</string>
    <string>ecircumflex</string>
    <string>edieresis</string>
    <string>igrave</string>
    <string>iacute</string>
    <string>icircumflex</string>
    <string>idieresis</string>
    <string>eth</string>
    <string>ntilde</string>
    <string>ograve</string>
    <string>oacute</string>
    <string>ocircumflex</string>
    <string>otilde</string>
    <string>odieresis</string>
    <string>divide</string>
    <string>oslash</string>
    <string>ugrave</string>
    <string>uacute</string>
    <string>ucircumflex</string>
    <string>udieresis</string>
    <string>yacute</string>
    <string>thorn</string>
    <string>ydieresis</string>
    <string>dotlessi</string>
    <string>OE</string>
    <string>oe</string>
    <string>Scaron</string>
    <string>scaron</string>
    <string>Ydieresis</string>
    <string>Zcaron</string>
    <string>zcaron</string>
    <string>florin</string>
    <string>glottalstopsmall</string>
    <string>glottalstop</string>
    <string>apostrophemod</string>
    <string>glottalstopmod</string>
    <string>circumflex</string>
    <string>caron</string>
    <string>colontriangularmod</string>
    <string>breve</string>
    <string>dotaccent</string>
    <string>ring</string>
    <string>ogonek</string>
    <string>tilde</string>
    <string>hungarumlaut</string>
    <string>cgj</string>
    <string>Omegagreek</string>
    <string>pi</string>
    <string>om</string>
    <string>udatta</string>
    <string>anudatta</string>
    <string>gravedeva</string>
    <string>acutedeva</string>
    <string>danda</string>
    <string>dandadbl</string>
    <string>spacingcandrabindu</string>
    <string>candrabindu</string>
    <string>anusvara</string>
    <string>visarga</string>
    <string>siddham</string>
    <string>avowel</string>
    <string>aavowel</string>
    <string>ivowel</string>
    <string>iivowel</string>
    <string>uvowel</string>
    <string>uuvowel</string>
    <string>rvocalicvowel</string>
    <string>rvocalicvowel.part</string>
    <string>lvocalicvowel</string>
    <string>lvocalicvowel.part</string>
    <string>evowel</string>
    <string>eevowel</string>
    <string>aivowel</string>
    <string>ovowel</string>
    <string>oovowel</string>
    <string>auvowel</string>
    <string>ka</string>
    <string>ka.base</string>
    <string>ka.imathra</string>
    <string>ka.sub</string>
    <string>ka.virama</string>
    <string>ka_ssa</string>
    <string>ka_ssa.base</string>
    <string>ka_ssa.imathra</string>
    <string>ka_rvocalicmatra.below</string>
    <string>kha</string>
    <string>kha.base</string>
    <string>kha.imathra</string>
    <string>kha.sub</string>
    <string>kha.virama</string>
    <string>ga</string>
    <string>ga.base</string>
    <string>ga.imathra</string>
    <string>ga.sub</string>
    <string>ga.virama</string>
    <string>gha</string>
    <string>gha.base</string>
    <string>gha.imathra</string>
    <string>gha.sub</string>
    <string>gha.virama</string>
    <string>nga</string>
    <string>nga.sub</string>
    <string>nga.virama</string>
    <string>ca</string>
    <string>ca.base</string>
    <string>ca.imathra</string>
    <string>ca.sub</string>
    <string>ca.virama</string>
    <string>cha</string>
    <string>cha.base</string>
    <string>cha.imathra</string>
    <string>cha.sub</string>
    <string>cha.virama</string>
    <string>ja</string>
    <string>ja.base</string>
    <string>ja.imathra</string>
    <string>ja.sub</string>
    <string>ja.virama</string>
    <string>ja_nya</string>
    <string>ja_nya.base</string>
    <string>ja_nya.imathra</string>
    <string>jha</string>
    <string>jha.base</string>
    <string>jha.imathra</string>
    <string>jha.noEbase</string>
    <string>jha.part</string>
    <string>jha.regbase</string>
    <string>jha.sub</string>
    <string>jha.virama</string>
    <string>nya</string>
    <string>nya.sub</string>
    <string>nya.virama</string>
    <string>tta</string>
    <string>tta.base</string>
    <string>tta.imathra</string>
    <string>tta.sub</string>
    <string>tta.virama</string>
    <string>ttha</string>
    <string>ttha.base</string>
    <string>ttha.imathra</string>
    <string>ttha.sub</string>
    <string>ttha.virama</string>
    <string>dda</string>
    <string>dda.base</string>
    <string>dda.imathra</string>
    <string>dda.sub</string>
    <string>dda.virama</string>
    <string>ddha</string>
    <string>ddha.base</string>
    <string>ddha.imathra</string>
    <string>ddha.sub</string>
    <string>ddha.virama</string>
    <string>nna</string>
    <string>nna.base</string>
    <string>nna.imathra</string>
    <string>nna.sub</string>
    <string>nna.virama</string>
    <string>ta</string>
    <string>ta.base</string>
    <string>ta.imathra</string>
    <string>ta.sub</string>
    <string>ta.virama</string>
    <string>ta_ya.below</string>
    <string>ta_va.below</string>
    <string>ta_rvocalicmatra.below</string>
    <string>ta_ailengthmark.below</string>
    <string>tha</string>
    <string>tha.base</string>
    <string>tha.imathra</string>
    <string>tha.sub</string>
    <string>tha.virama</string>
    <string>da</string>
    <string>da.base</string>
    <string>da.imathra</string>
    <string>da.sub</string>
    <string>da.virama</string>
    <string>dha</string>
    <string>dha.base</string>
    <string>dha.imathra</string>
    <string>dha.sub</string>
    <string>dha.virama</string>
    <string>na</string>
    <string>na.base</string>
    <string>na.imathra</string>
    <string>na.sub</string>
    <string>na.virama</string>
    <string>na_virama</string>
    <string>pa</string>
    <string>pa.base</string>
    <string>pa.imathra</string>
    <string>pa.sub</string>
    <string>pa.virama</string>
    <string>pha</string>
    <string>pha.base</string>
    <string>pha.imathra</string>
    <string>pha.sub</string>
    <string>pha.virama</string>
    <string>ba</string>
    <string>ba.base</string>
    <string>ba.imathra</string>
    <string>ba.sub</string>
    <string>ba.virama</string>
    <string>bha</string>
    <string>bha.base</string>
    <string>bha.imathra</string>
    <string>bha.sub</string>
    <string>bha.virama</string>
    <string>ma</string>
    <string>ma.base</string>
    <string>ma.imathra</string>
    <string>ma.noEbase</string>
    <string>ma.regbase</string>
    <string>ma.sub</string>
    <string>ma.virama</string>
    <string>ya</string>
    <string>ya.base</string>
    <string>ya.imathra</string>
    <string>ya.noEbase</string>
    <string>ya.part</string>
    <string>ya.regbase</string>
    <string>ya.sub</string>
    <string>ya.virama</string>
    <string>ra</string>
    <string>ra.base</string>
    <string>ra.below</string>
    <string>ra.below.large</string>
    <string>ra.below.ra</string>
    <string>ra.below.subcons</string>
    <string>ra.imathra</string>
    <string>ra.virama</string>
    <string>ra_ailengthmark.below</string>
    <string>rra</string>
    <string>rra.imathra</string>
    <string>rra.sub</string>
    <string>rra.virama</string>
    <string>la</string>
    <string>la.base</string>
    <string>la.imathra</string>
    <string>la.sub</string>
    <string>la.virama</string>
    <string>lla</string>
    <string>lla.base</string>
    <string>lla.imathra</string>
    <string>lla.sub</string>
    <string>lla.virama</string>
    <string>va</string>
    <string>va.base</string>
    <string>va.imathra</string>
    <string>va.sub</string>
    <string>va.virama</string>
    <string>sha</string>
    <string>sha.base</string>
    <string>sha.imathra</string>
    <string>sha.sub</string>
    <string>sha.virama</string>
    <string>sha_ra.imathra</string>
    <string>ssa</string>
    <string>ssa.base</string>
    <string>ssa.imathra</string>
    <string>ssa.sub</string>
    <string>ssa.virama</string>
    <string>sa</string>
    <string>sa.base</string>
    <string>sa.imathra</string>
    <string>sa.sub</string>
    <string>sa.virama</string>
    <string>ha</string>
    <string>ha.base</string>
    <string>ha.imathra</string>
    <string>ha.sub</string>
    <string>ha.virama</string>
    <string>nukta</string>
    <string>nukta.alt</string>
    <string>avagraha</string>
    <string>aamatra</string>
    <string>imatra</string>
    <string>iimatra</string>
    <string>umatra</string>
    <string>umatra.large</string>
    <string>uumatra</string>
    <string>uumatra.large</string>
    <string>rvocalicmatra</string>
    <string>rrvocalicmatra</string>
    <string>ematra</string>
    <string>ematra.large</string>
    <string>eematra</string>
    <string>aimatra</string>
    <string>omatra</string>
    <string>omatra.large</string>
    <string>oomatra</string>
    <string>oomatra.large</string>
    <string>aumatra</string>
    <string>virama</string>
    <string>lengthmark</string>
    <string>ailengthmark</string>
    <string>fa</string>
    <string>fa.imathra</string>
    <string>fa.sub</string>
    <string>fa.virama</string>
    <string>rrvocalicvowel</string>
    <string>llvocalicvowel</string>
    <string>lvocalicmatra</string>
    <string>lvocalicmatra.alt</string>
    <string>llvocalicmatra</string>
    <string>llvocalicmatra.alt</string>
    <string>zeroknda</string>
    <string>oneknda</string>
    <string>twoknda</string>
    <string>threeknda</string>
    <string>fourknda</string>
    <string>fiveknda</string>
    <string>sixknda</string>
    <string>sevenknda</string>
    <string>eightknda</string>
    <string>nineknda</string>
    <string>jihvamuliya</string>
    <string>upadhmaniya</string>
    <string>doublesvarita</string>
    <string>vedictonekathakaanudatta</string>
    <string>vedictonedotbelow</string>
    <string>vedictonetwodotsbelow</string>
    <string>vedictonethreedotsbelow</string>
    <string>vedicsignjihvamuliya</string>
    <string>enquad</string>
    <string>emquad</string>
    <string>enspace</string>
    <string>emspace</string>
    <string>threeperemspace</string>
    <string>fourperemspace</string>
    <string>sixperemspace</string>
    <string>figurespace</string>
    <string>punctuationspace</string>
    <string>thinspace</string>
    <string>hairspace</string>
    <string>zwsp</string>
    <string>zwnj</string>
    <string>zwj</string>
    <string>hyphentwo</string>
    <string>nbhyphen</string>
    <string>figuredash</string>
    <string>endash</string>
    <string>emdash</string>
    <string>horizontalbar</string>
    <string>quoteleft</string>
    <string>quoteleft.knda</string>
    <string>quoteright</string>
    <string>quoteright.knda</string>
    <string>quotesinglbase</string>
    <string>quotedblleft</string>
    <string>quotedblleft.knda</string>
    <string>quotedblright</string>
    <string>quotedblright.knda</string>
    <string>quotedblbase</string>
    <string>dagger</string>
    <string>daggerdbl</string>
    <string>bullet</string>
    <string>ellipsis</string>
    <string>hyphenationpoint</string>
    <string>lineseparator</string>
    <string>paragraphseparator</string>
    <string>nnbspace</string>
    <string>perthousand</string>
    <string>guilsinglleft</string>
    <string>guilsinglright</string>
    <string>fraction</string>
    <string>wj</string>
    <string>zerosuperior</string>
    <string>foursuperior</string>
    <string>fivesuperior</string>
    <string>sixsuperior</string>
    <string>sevensuperior</string>
    <string>eightsuperior</string>
    <string>ninesuperior</string>
    <string>hyphensuperior</string>
    <string>parenleftsuperior</string>
    <string>parenrightsuperior</string>
    <string>rs</string>
    <string>Euro</string>
    <string>inr</string>
    <string>trademark</string>
    <string>Ohm</string>
    <string>partialdiff</string>
    <string>Delta</string>
    <string>product</string>
    <string>summation</string>
    <string>minus</string>
    <string>divisionslash</string>
    <string>bulletoperator</string>
    <string>radical</string>
    <string>infinity</string>
    <string>integral</string>
    <string>approxequal</string>
    <string>notequal</string>
    <string>lessequal</string>
    <string>greaterequal</string>
    <string>ceilingleft</string>
    <string>ceilingright</string>
    <string>floorleft</string>
    <string>floorright</string>
    <string>cornerlefttop</string>
    <string>cornerrighttop</string>
    <string>cornerleftbottom</string>
    <string>cornerrightbottom</string>
    <string>openbox</string>
    <string>lozenge</string>
    <string>dottedcircle</string>
    <string>dottedcircle.alt</string>
    <string>halfbracketlefttop</string>
    <string>halfbracketrighttop</string>
    <string>halfbracketleftbottom</string>
    <string>halfbracketrightbottom</string>
    <string>saltillo</string>
    <string>sidebearingleft</string>
    <string>sidebearingright</string>
    <string>fi</string>
    <string>fl</string>
    <string>VS1</string>
    <string>VS2</string>
    <string>VS3</string>
    <string>VS4</string>
    <string>VS5</string>
    <string>VS6</string>
    <string>VS7</string>
    <string>VS8</string>
    <string>VS9</string>
    <string>VS10</string>
    <string>VS11</string>
    <string>VS12</string>
    <string>VS13</string>
    <string>VS14</string>
    <string>VS15</string>
    <string>VS16</string>
    <string>zwnbsp</string>
    <string>objectReplacementCharacter</string>
    <string>replacementCharacter</string>
    <string>CombAcute</string>
    <string>CombAcute.LP</string>
    <string>CombCaron</string>
    <string>CombCaron.LP</string>
    <string>CombCedilla</string>
    <string>CombCircum</string>
    <string>CombCircum.LP</string>
    <string>CombDiaer</string>
    <string>CombDiaer.LP</string>
    <string>CombGrave</string>
    <string>CombGrave.LP</string>
    <string>CombRingAbv</string>
    <string>CombTilde</string>
    <string>CombTilde.LP</string>
    <string>GrCapPi</string>
    <string>LtnCapEsh</string>
    <string>ModBeginHighTn</string>
    <string>ModBeginLowTn</string>
    <string>ModEndHighTn</string>
    <string>ModEndLowTn</string>
    <string>inherent</string>
    <string>shortrr</string>
    <string>widebase</string>
    <string>xmatra</string>
  </array>
  <key>public.postscriptNames</key>
  <dict>
    <key>Ohm</key>
    <string>Omega</string>
    <key>Omegagreek</key>
    <string>uni03A9</string>
    <key>VS1</key>
    <string>uniFE00</string>
    <key>VS10</key>
    <string>uniFE09</string>
    <key>VS11</key>
    <string>uniFE0A</string>
    <key>VS12</key>
    <string>uniFE0B</string>
    <key>VS13</key>
    <string>uniFE0C</string>
    <key>VS14</key>
    <string>uniFE0D</string>
    <key>VS15</key>
    <string>uniFE0E</string>
    <key>VS16</key>
    <string>uniFE0F</string>
    <key>VS2</key>
    <string>uniFE01</string>
    <key>VS3</key>
    <string>uniFE02</string>
    <key>VS4</key>
    <string>uniFE03</string>
    <key>VS5</key>
    <string>uniFE04</string>
    <key>VS6</key>
    <string>uniFE05</string>
    <key>VS7</key>
    <string>uniFE06</string>
    <key>VS8</key>
    <string>uniFE07</string>
    <key>VS9</key>
    <string>uniFE08</string>
    <key>aamatra</key>
    <string>uni0CBE</string>
    <key>aavowel</key>
    <string>uni0C86</string>
    <key>acutedeva</key>
    <string>uni0954</string>
    <key>ailengthmark</key>
    <string>uni0CD6</string>
    <key>aimatra</key>
    <string>uni0CC8</string>
    <key>aivowel</key>
    <string>uni0C90</string>
    <key>anudatta</key>
    <string>uni0952</string>
    <key>anusvara</key>
    <string>uni0C82</string>
    <key>apostrophemod</key>
    <string>uni02BC</string>
    <key>aumatra</key>
    <string>uni0CCC</string>
    <key>auvowel</key>
    <string>uni0C94</string>
    <key>avagraha</key>
    <string>uni0CBD</string>
    <key>avowel</key>
    <string>uni0C85</string>
    <key>ba</key>
    <string>uni0CAC</string>
    <key>ba.base</key>
    <string>uni0CAC.base</string>
    <key>ba.imathra</key>
    <string>uni0CAC.imathra</string>
    <key>ba.sub</key>
    <string>uni0CAC.sub</string>
    <key>ba.virama</key>
    <string>uni0CAC.virama</string>
    <key>bha</key>
    <string>uni0CAD</string>
    <key>bha.base</key>
    <string>uni0CAD.base</string>
    <key>bha.imathra</key>
    <string>uni0CAD.imathra</string>
    <key>bha.sub</key>
    <string>uni0CAD.sub</string>
    <key>bha.virama</key>
    <string>uni0CAD.virama</string>
    <key>bulletoperator</key>
    <string>uni2219</string>
    <key>ca</key>
    <string>uni0C9A</string>
    <key>ca.base</key>
    <string>uni0C9A.base</string>
    <key>ca.imathra</key>
    <string>uni0C9A.imathra</string>
    <key>ca.sub</key>
    <string>uni0C9A.sub</string>
    <key>ca.virama</key>
    <string>uni0C9A.virama</string>
    <key>candrabindu</key>
    <string>uni0C81</string>
    <key>ceilingleft</key>
    <string>uni2308</string>
    <key>ceilingright</key>
    <string>uni2309</string>
    <key>cgj</key>
    <string>uni034F</string>
    <key>cha</key>
    <string>uni0C9B</string>
    <key>cha.base</key>
    <string>uni0C9B.base</string>
    <key>cha.imathra</key>
    <string>uni0C9B.imathra</string>
    <key>cha.sub</key>
    <string>uni0C9B.sub</string>
    <key>cha.virama</key>
    <string>uni0C9B.virama</string>
    <key>colontriangularmod</key>
    <string>uni02D0</string>
    <key>cornerleftbottom</key>
    <string>uni231E</string>
    <key>cornerlefttop</key>
    <string>uni231C</string>
    <key>cornerrightbottom</key>
    <string>uni231F</string>
    <key>cornerrighttop</key>
    <string>uni231D</string>
    <key>da</key>
    <string>uni0CA6</string>
    <key>da.base</key>
    <string>uni0CA6.base</string>
    <key>da.imathra</key>
    <string>uni0CA6.imathra</string>
    <key>da.sub</key>
    <string>uni0CA6.sub</string>
    <key>da.virama</key>
    <string>uni0CA6.virama</string>
    <key>danda</key>
    <string>uni0964</string>
    <key>dandadbl</key>
    <string>uni0965</string>
    <key>dda</key>
    <string>uni0CA1</string>
    <key>dda.base</key>
    <string>uni0CA1.base</string>
    <key>dda.imathra</key>
    <string>uni0CA1.imathra</string>
    <key>dda.sub</key>
    <string>uni0CA1.sub</string>
    <key>dda.virama</key>
    <string>uni0CA1.virama</string>
    <key>ddha</key>
    <string>uni0CA2</string>
    <key>ddha.base</key>
    <string>uni0CA2.base</string>
    <key>ddha.imathra</key>
    <string>uni0CA2.imathra</string>
    <key>ddha.sub</key>
    <string>uni0CA2.sub</string>
    <key>ddha.virama</key>
    <string>uni0CA2.virama</string>
    <key>dha</key>
    <string>uni0CA7</string>
    <key>dha.base</key>
    <string>uni0CA7.base</string>
    <key>dha.imathra</key>
    <string>uni0CA7.imathra</string>
    <key>dha.sub</key>
    <string>uni0CA7.sub</string>
    <key>dha.virama</key>
    <string>uni0CA7.virama</string>
    <key>divisionslash</key>
    <string>uni2215</string>
    <key>dottedcircle</key>
    <string>uni25CC</string>
    <key>dottedcircle.alt</key>
    <string>uni25CC.alt</string>
    <key>doublesvarita</key>
    <string>uni1CDA</string>
    <key>eematra</key>
    <string>uni0CC7</string>
    <key>eevowel</key>
    <string>uni0C8F</string>
    <key>eightknda</key>
    <string>uni0CEE</string>
    <key>eightsuperior</key>
    <string>uni2078</string>
    <key>ematra</key>
    <string>uni0CC6</string>
    <key>ematra.large</key>
    <string>uni0CC6.large</string>
    <key>emquad</key>
    <string>uni2001</string>
    <key>emspace</key>
    <string>uni2003</string>
    <key>enquad</key>
    <string>uni2000</string>
    <key>enspace</key>
    <string>uni2002</string>
    <key>evowel</key>
    <string>uni0C8E</string>
    <key>fa</key>
    <string>uni0CDE</string>
    <key>fa.imathra</key>
    <string>uni0CDE.imathra</string>
    <key>fa.sub</key>
    <string>uni0CDE.sub</string>
    <key>fa.virama</key>
    <string>uni0CDE.virama</string>
    <key>fi</key>
    <string>uniFB01</string>
    <key>figurespace</key>
    <string>uni2007</string>
    <key>fiveknda</key>
    <string>uni0CEB</string>
    <key>fivesuperior</key>
    <string>uni2075</string>
    <key>fl</key>
    <string>uniFB02</string>
    <key>floorleft</key>
    <string>uni230A</string>
    <key>floorright</key>
    <string>uni230B</string>
    <key>fourknda</key>
    <string>uni0CEA</string>
    <key>fourperemspace</key>
    <string>uni2005</string>
    <key>foursuperior</key>
    <string>uni2074</string>
    <key>ga</key>
    <string>uni0C97</string>
    <key>ga.base</key>
    <string>uni0C97.base</string>
    <key>ga.imathra</key>
    <string>uni0C97.imathra</string>
    <key>ga.sub</key>
    <string>uni0C97.sub</string>
    <key>ga.virama</key>
    <string>uni0C97.virama</string>
    <key>gha</key>
    <string>uni0C98</string>
    <key>gha.base</key>
    <string>uni0C98.base</string>
    <key>gha.imathra</key>
    <string>uni0C98.imathra</string>
    <key>gha.sub</key>
    <string>uni0C98.sub</string>
    <key>gha.virama</key>
    <string>uni0C98.virama</string>
    <key>glottalstop</key>
    <string>uni0294</string>
    <key>glottalstopmod</key>
    <string>uni02C0</string>
    <key>glottalstopsmall</key>
    <string>uni0242</string>
    <key>gravedeva</key>
    <string>uni0953</string>
    <key>ha</key>
    <string>uni0CB9</string>
    <key>ha.base</key>
    <string>uni0CB9.base</string>
    <key>ha.imathra</key>
    <string>uni0CB9.imathra</string>
    <key>ha.sub</key>
    <string>uni0CB9.sub</string>
    <key>ha.virama</key>
    <string>uni0CB9.virama</string>
    <key>hairspace</key>
    <string>uni200A</string>
    <key>halfbracketleftbottom</key>
    <string>uni2E24</string>
    <key>halfbracketlefttop</key>
    <string>uni2E22</string>
    <key>halfbracketrightbottom</key>
    <string>uni2E25</string>
    <key>halfbracketrighttop</key>
    <string>uni2E23</string>
    <key>horizontalbar</key>
    <string>uni2015</string>
    <key>hyphenationpoint</key>
    <string>uni2027</string>
    <key>hyphensuperior</key>
    <string>uni207B</string>
    <key>hyphentwo</key>
    <string>uni2010</string>
    <key>iimatra</key>
    <string>uni0CC0</string>
    <key>iivowel</key>
    <string>uni0C88</string>
    <key>imatra</key>
    <string>uni0CBF</string>
    <key>inr</key>
    <string>uni20B9</string>
    <key>ivowel</key>
    <string>uni0C87</string>
    <key>ja</key>
    <string>uni0C9C</string>
    <key>ja.base</key>
    <string>uni0C9C.base</string>
    <key>ja.imathra</key>
    <string>uni0C9C.imathra</string>
    <key>ja.sub</key>
    <string>uni0C9C.sub</string>
    <key>ja.virama</key>
    <string>uni0C9C.virama</string>
    <key>ja_nya</key>
    <string>uni0C9C0C9E</string>
    <key>ja_nya.base</key>
    <string>uni0C9C0C9E.base</string>
    <key>ja_nya.imathra</key>
    <string>uni0C9C0C9E.imathra</string>
    <key>jha</key>
    <string>uni0C9D</string>
    <key>jha.base</key>
    <string>uni0C9D.base</string>
    <key>jha.imathra</key>
    <string>uni0C9D.imathra</string>
    <key>jha.noEbase</key>
    <string>uni0C9D.noEbase</string>
    <key>jha.part</key>
    <string>uni0C9D.part</string>
    <key>jha.regbase</key>
    <string>uni0C9D.regbase</string>
    <key>jha.sub</key>
    <string>uni0C9D.sub</string>
    <key>jha.virama</key>
    <string>uni0C9D.virama</string>
    <key>jihvamuliya</key>
    <string>uni0CF1</string>
    <key>ka</key>
    <string>uni0C95</string>
    <key>ka.base</key>
    <string>uni0C95.base</string>
    <key>ka.imathra</key>
    <string>uni0C95.imathra</string>
    <key>ka.sub</key>
    <string>uni0C95.sub</string>
    <key>ka.virama</key>
    <string>uni0C95.virama</string>
    <key>ka_rvocalicmatra.below</key>
    <string>uni0C950CC3.below</string>
    <key>ka_ssa</key>
    <string>uni0C950CB7</string>
    <key>ka_ssa.base</key>
    <string>uni0C950CB7.base</string>
    <key>ka_ssa.imathra</key>
    <string>uni0C950CB7.imathra</string>
    <key>kha</key>
    <string>uni0C96</string>
    <key>kha.base</key>
    <string>uni0C96.base</string>
    <key>kha.imathra</key>
    <string>uni0C96.imathra</string>
    <key>kha.sub</key>
    <string>uni0C96.sub</string>
    <key>kha.virama</key>
    <string>uni0C96.virama</string>
    <key>la</key>
    <string>uni0CB2</string>
    <key>la.base</key>
    <string>uni0CB2.base</string>
    <key>la.imathra</key>
    <string>uni0CB2.imathra</string>
    <key>la.sub</key>
    <string>uni0CB2.sub</string>
    <key>la.virama</key>
    <string>uni0CB2.virama</string>
    <key>lengthmark</key>
    <string>uni0CD5</string>
    <key>lineseparator</key>
    <string>uni2028</string>
    <key>lla</key>
    <string>uni0CB3</string>
    <key>lla.base</key>
    <string>uni0CB3.base</string>
    <key>lla.imathra</key>
    <string>uni0CB3.imathra</string>
    <key>lla.sub</key>
    <string>uni0CB3.sub</string>
    <key>lla.virama</key>
    <string>uni0CB3.virama</string>
    <key>llvocalicmatra</key>
    <string>uni0CE3</string>
    <key>llvocalicmatra.alt</key>
    <string>uni0CE3.alt</string>
    <key>llvocalicvowel</key>
    <string>uni0CE1</string>
    <key>lvocalicmatra</key>
    <string>uni0CE2</string>
    <key>lvocalicmatra.alt</key>
    <string>uni0CE2.alt</string>
    <key>lvocalicvowel</key>
    <string>uni0C8C</string>
    <key>lvocalicvowel.part</key>
    <string>uni0C8C.part</string>
    <key>ma</key>
    <string>uni0CAE</string>
    <key>ma.base</key>
    <string>uni0CAE.base</string>
    <key>ma.imathra</key>
    <string>uni0CAE.imathra</string>
    <key>ma.noEbase</key>
    <string>uni0CAE.noEbase</string>
    <key>ma.regbase</key>
    <string>uni0CAE.regbase</string>
    <key>ma.sub</key>
    <string>uni0CAE.sub</string>
    <key>ma.virama</key>
    <string>uni0CAE.virama</string>
    <key>na</key>
    <string>uni0CA8</string>
    <key>na.base</key>
    <string>uni0CA8.base</string>
    <key>na.imathra</key>
    <string>uni0CA8.imathra</string>
    <key>na.sub</key>
    <string>uni0CA8.sub</string>
    <key>na.virama</key>
    <string>uni0CA8.virama</string>
    <key>na_virama</key>
    <string>uni0CA80CCD</string>
    <key>nbhyphen</key>
    <string>uni2011</string>
    <key>nbspace</key>
    <string>uni00A0</string>
    <key>nbspace.knda</key>
    <string>uni00A0.knda</string>
    <key>nga</key>
    <string>uni0C99</string>
    <key>nga.sub</key>
    <string>uni0C99.sub</string>
    <key>nga.virama</key>
    <string>uni0C99.virama</string>
    <key>nineknda</key>
    <string>uni0CEF</string>
    <key>ninesuperior</key>
    <string>uni2079</string>
    <key>nna</key>
    <string>uni0CA3</string>
    <key>nna.base</key>
    <string>uni0CA3.base</string>
    <key>nna.imathra</key>
    <string>uni0CA3.imathra</string>
    <key>nna.sub</key>
    <string>uni0CA3.sub</string>
    <key>nna.virama</key>
    <string>uni0CA3.virama</string>
    <key>nnbspace</key>
    <string>uni202F</string>
    <key>nukta</key>
    <string>uni0CBC</string>
    <key>nukta.alt</key>
    <string>uni0CBC.alt</string>
    <key>nya</key>
    <string>uni0C9E</string>
    <key>nya.sub</key>
    <string>uni0C9E.sub</string>
    <key>nya.virama</key>
    <string>uni0C9E.virama</string>
    <key>objectReplacementCharacter</key>
    <string>uniFFFC</string>
    <key>om</key>
    <string>uni0950</string>
    <key>omatra</key>
    <string>uni0CCA</string>
    <key>omatra.large</key>
    <string>uni0CCA.large</string>
    <key>oneknda</key>
    <string>uni0CE7</string>
    <key>onesuperior</key>
    <string>uni00B9</string>
    <key>oomatra</key>
    <string>uni0CCB</string>
    <key>oomatra.large</key>
    <string>uni0CCB.large</string>
    <key>oovowel</key>
    <string>uni0C93</string>
    <key>openbox</key>
    <string>uni2423</string>
    <key>ovowel</key>
    <string>uni0C92</string>
    <key>pa</key>
    <string>uni0CAA</string>
    <key>pa.base</key>
    <string>uni0CAA.base</string>
    <key>pa.imathra</key>
    <string>uni0CAA.imathra</string>
    <key>pa.sub</key>
    <string>uni0CAA.sub</string>
    <key>pa.virama</key>
    <string>uni0CAA.virama</string>
    <key>paragraphseparator</key>
    <string>uni2029</string>
    <key>parenleftsuperior</key>
    <string>uni207D</string>
    <key>parenrightsuperior</key>
    <string>uni207E</string>
    <key>pha</key>
    <string>uni0CAB</string>
    <key>pha.base</key>
    <string>uni0CAB.base</string>
    <key>pha.imathra</key>
    <string>uni0CAB.imathra</string>
    <key>pha.sub</key>
    <string>uni0CAB.sub</string>
    <key>pha.virama</key>
    <string>uni0CAB.virama</string>
    <key>punctuationspace</key>
    <string>uni2008</string>
    <key>ra</key>
    <string>uni0CB0</string>
    <key>ra.base</key>
    <string>uni0CB0.base</string>
    <key>ra.below</key>
    <string>uni0CB0.below</string>
    <key>ra.below.large</key>
    <string>uni0CB0.below.large</string>
    <key>ra.below.ra</key>
    <string>uni0CB0.below.ra</string>
    <key>ra.below.subcons</key>
    <string>uni0CB0.below.subcons</string>
    <key>ra.imathra</key>
    <string>uni0CB0.imathra</string>
    <key>ra.virama</key>
    <string>uni0CB0.virama</string>
    <key>ra_ailengthmark.below</key>
    <string>uni0CB00CD6.below</string>
    <key>replacementCharacter</key>
    <string>uniFFFD</string>
    <key>rra</key>
    <string>uni0CB1</string>
    <key>rra.imathra</key>
    <string>uni0CB1.imathra</string>
    <key>rra.sub</key>
    <string>uni0CB1.sub</string>
    <key>rra.virama</key>
    <string>uni0CB1.virama</string>
    <key>rrvocalicmatra</key>
    <string>uni0CC4</string>
    <key>rrvocalicvowel</key>
    <string>uni0CE0</string>
    <key>rs</key>
    <string>uni20A8</string>
    <key>rvocalicmatra</key>
    <string>uni0CC3</string>
    <key>rvocalicvowel</key>
    <string>uni0C8B</string>
    <key>rvocalicvowel.part</key>
    <string>uni0C8B.part</string>
    <key>sa</key>
    <string>uni0CB8</string>
    <key>sa.base</key>
    <string>uni0CB8.base</string>
    <key>sa.imathra</key>
    <string>uni0CB8.imathra</string>
    <key>sa.sub</key>
    <string>uni0CB8.sub</string>
    <key>sa.virama</key>
    <string>uni0CB8.virama</string>
    <key>saltillo</key>
    <string>uniA78C</string>
    <key>sevenknda</key>
    <string>uni0CED</string>
    <key>sevensuperior</key>
    <string>uni2077</string>
    <key>sha</key>
    <string>uni0CB6</string>
    <key>sha.base</key>
    <string>uni0CB6.base</string>
    <key>sha.imathra</key>
    <string>uni0CB6.imathra</string>
    <key>sha.sub</key>
    <string>uni0CB6.sub</string>
    <key>sha.virama</key>
    <string>uni0CB6.virama</string>
    <key>sha_ra.imathra</key>
    <string>uni0CB60CB0.imathra</string>
    <key>siddham</key>
    <string>uni0C84</string>
    <key>sidebearingleft</key>
    <string>uniF130</string>
    <key>sidebearingright</key>
    <string>uniF131</string>
    <key>sixknda</key>
    <string>uni0CEC</string>
    <key>sixperemspace</key>
    <string>uni2006</string>
    <key>sixsuperior</key>
    <string>uni2076</string>
    <key>softhyphen</key>
    <string>uni00AD</string>
    <key>spacingcandrabindu</key>
    <string>uni0C80</string>
    <key>ssa</key>
    <string>uni0CB7</string>
    <key>ssa.base</key>
    <string>uni0CB7.base</string>
    <key>ssa.imathra</key>
    <string>uni0CB7.imathra</string>
    <key>ssa.sub</key>
    <string>uni0CB7.sub</string>
    <key>ssa.virama</key>
    <string>uni0CB7.virama</string>
    <key>ta</key>
    <string>uni0CA4</string>
    <key>ta.base</key>
    <string>uni0CA4.base</string>
    <key>ta.imathra</key>
    <string>uni0CA4.imathra</string>
    <key>ta.sub</key>
    <string>uni0CA4.sub</string>
    <key>ta.virama</key>
    <string>uni0CA4.virama</string>
    <key>ta_ailengthmark.below</key>
    <string>uni0CA40CD6.below</string>
    <key>ta_rvocalicmatra.below</key>
    <string>uni0CA40CC3.below</string>
    <key>ta_va.below</key>
    <string>uni0CA40CB5.below</string>
    <key>ta_ya.below</key>
    <string>uni0CA40CAF.below</string>
    <key>tha</key>
    <string>uni0CA5</string>
    <key>tha.base</key>
    <string>uni0CA5.base</string>
    <key>tha.imathra</key>
    <string>uni0CA5.imathra</string>
    <key>tha.sub</key>
    <string>uni0CA5.sub</string>
    <key>tha.virama</key>
    <string>uni0CA5.virama</string>
    <key>thinspace</key>
    <string>uni2009</string>
    <key>threeknda</key>
    <string>uni0CE9</string>
    <key>threeperemspace</key>
    <string>uni2004</string>
    <key>threesuperior</key>
    <string>uni00B3</string>
    <key>tta</key>
    <string>uni0C9F</string>
    <key>tta.base</key>
    <string>uni0C9F.base</string>
    <key>tta.imathra</key>
    <string>uni0C9F.imathra</string>
    <key>tta.sub</key>
    <string>uni0C9F.sub</string>
    <key>tta.virama</key>
    <string>uni0C9F.virama</string>
    <key>ttha</key>
    <string>uni0CA0</string>
    <key>ttha.base</key>
    <string>uni0CA0.base</string>
    <key>ttha.imathra</key>
    <string>uni0CA0.imathra</string>
    <key>ttha.sub</key>
    <string>uni0CA0.sub</string>
    <key>ttha.virama</key>
    <string>uni0CA0.virama</string>
    <key>twoknda</key>
    <string>uni0CE8</string>
    <key>twosuperior</key>
    <string>uni00B2</string>
    <key>udatta</key>
    <string>uni0951</string>
    <key>umatra</key>
    <string>uni0CC1</string>
    <key>umatra.large</key>
    <string>uni0CC1.large</string>
    <key>upadhmaniya</key>
    <string>uni0CF2</string>
    <key>uumatra</key>
    <string>uni0CC2</string>
    <key>uumatra.large</key>
    <string>uni0CC2.large</string>
    <key>uuvowel</key>
    <string>uni0C8A</string>
    <key>uvowel</key>
    <string>uni0C89</string>
    <key>va</key>
    <string>uni0CB5</string>
    <key>va.base</key>
    <string>uni0CB5.base</string>
    <key>va.imathra</key>
    <string>uni0CB5.imathra</string>
    <key>va.sub</key>
    <string>uni0CB5.sub</string>
    <key>va.virama</key>
    <string>uni0CB5.virama</string>
    <key>vedicsignjihvamuliya</key>
    <string>uni1CF5</string>
    <key>vedictonedotbelow</key>
    <string>uni1CDD</string>
    <key>vedictonekathakaanudatta</key>
    <string>uni1CDC</string>
    <key>vedictonethreedotsbelow</key>
    <string>uni1CDF</string>
    <key>vedictonetwodotsbelow</key>
    <string>uni1CDE</string>
    <key>virama</key>
    <string>uni0CCD</string>
    <key>visarga</key>
    <string>uni0C83</string>
    <key>wj</key>
    <string>uni2060</string>
    <key>ya</key>
    <string>uni0CAF</string>
    <key>ya.base</key>
    <string>uni0CAF.base</string>
    <key>ya.imathra</key>
    <string>uni0CAF.imathra</string>
    <key>ya.noEbase</key>
    <string>uni0CAF.noEbase</string>
    <key>ya.part</key>
    <string>uni0CAF.part</string>
    <key>ya.regbase</key>
    <string>uni0CAF.regbase</string>
    <key>ya.sub</key>
    <string>uni0CAF.sub</string>
    <key>ya.virama</key>
    <string>uni0CAF.virama</string>
    <key>zeroknda</key>
    <string>uni0CE6</string>
    <key>zerosuperior</key>
    <string>uni2070</string>
    <key>zwj</key>
    <string>uni200D</string>
    <key>zwnbsp</key>
    <string>uniFEFF</string>
    <key>zwnj</key>
    <string>uni200C</string>
    <key>zwsp</key>
    <string>uni200B</string>
  </dict>
</dict>
</plist>
