<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>.notdef</key>
  <string>_notdef.glif</string>
  <key>.null</key>
  <string>_null.glif</string>
  <key>A</key>
  <string>A_.glif</string>
  <key>AE</key>
  <string>A_E_.glif</string>
  <key>Aacute</key>
  <string>A_acute.glif</string>
  <key>Acircumflex</key>
  <string>A_circumflex.glif</string>
  <key>Adieresis</key>
  <string>A_dieresis.glif</string>
  <key>Agrave</key>
  <string>A_grave.glif</string>
  <key>Aring</key>
  <string>A_ring.glif</string>
  <key>Atilde</key>
  <string>A_tilde.glif</string>
  <key>B</key>
  <string>B_.glif</string>
  <key>C</key>
  <string>C_.glif</string>
  <key>Ccedilla</key>
  <string>C_cedilla.glif</string>
  <key>D</key>
  <string>D_.glif</string>
  <key>Delta</key>
  <string>D_elta.glif</string>
  <key>E</key>
  <string>E_.glif</string>
  <key>Eacute</key>
  <string>E_acute.glif</string>
  <key>Ecircumflex</key>
  <string>E_circumflex.glif</string>
  <key>Edieresis</key>
  <string>E_dieresis.glif</string>
  <key>Egrave</key>
  <string>E_grave.glif</string>
  <key>Eth</key>
  <string>E_th.glif</string>
  <key>Euro</key>
  <string>E_uro.glif</string>
  <key>F</key>
  <string>F_.glif</string>
  <key>G</key>
  <string>G_.glif</string>
  <key>H</key>
  <string>H_.glif</string>
  <key>HyphenMinus</key>
  <string>H_yphenM_inus.glif</string>
  <key>I</key>
  <string>I_.glif</string>
  <key>Iacute</key>
  <string>I_acute.glif</string>
  <key>Icircumflex</key>
  <string>I_circumflex.glif</string>
  <key>Idieresis</key>
  <string>I_dieresis.glif</string>
  <key>Igrave</key>
  <string>I_grave.glif</string>
  <key>J</key>
  <string>J_.glif</string>
  <key>K</key>
  <string>K_.glif</string>
  <key>L</key>
  <string>L_.glif</string>
  <key>M</key>
  <string>M_.glif</string>
  <key>MiddleDot</key>
  <string>M_iddleD_ot.glif</string>
  <key>ModBeginHighTn</key>
  <string>M_odB_eginH_ighT_n.glif</string>
  <key>ModBeginLowTn</key>
  <string>M_odB_eginL_owT_n.glif</string>
  <key>ModEndHighTn</key>
  <string>M_odE_ndH_ighT_n.glif</string>
  <key>ModEndLowTn</key>
  <string>M_odE_ndL_owT_n.glif</string>
  <key>N</key>
  <string>N_.glif</string>
  <key>Ntilde</key>
  <string>N_tilde.glif</string>
  <key>O</key>
  <string>O_.glif</string>
  <key>OE</key>
  <string>O_E_.glif</string>
  <key>Oacute</key>
  <string>O_acute.glif</string>
  <key>Ocircumflex</key>
  <string>O_circumflex.glif</string>
  <key>Odieresis</key>
  <string>O_dieresis.glif</string>
  <key>Ograve</key>
  <string>O_grave.glif</string>
  <key>Ohm</key>
  <string>O_hm.glif</string>
  <key>Omegagreek</key>
  <string>O_megagreek.glif</string>
  <key>Oslash</key>
  <string>O_slash.glif</string>
  <key>Otilde</key>
  <string>O_tilde.glif</string>
  <key>P</key>
  <string>P_.glif</string>
  <key>Q</key>
  <string>Q_.glif</string>
  <key>R</key>
  <string>R_.glif</string>
  <key>S</key>
  <string>S_.glif</string>
  <key>Scaron</key>
  <string>S_caron.glif</string>
  <key>T</key>
  <string>T_.glif</string>
  <key>Thorn</key>
  <string>T_horn.glif</string>
  <key>U</key>
  <string>U_.glif</string>
  <key>Uacute</key>
  <string>U_acute.glif</string>
  <key>Ucircumflex</key>
  <string>U_circumflex.glif</string>
  <key>Udieresis</key>
  <string>U_dieresis.glif</string>
  <key>Ugrave</key>
  <string>U_grave.glif</string>
  <key>V</key>
  <string>V_.glif</string>
  <key>VS1</key>
  <string>V_S_1.glif</string>
  <key>VS10</key>
  <string>V_S_10.glif</string>
  <key>VS11</key>
  <string>V_S_11.glif</string>
  <key>VS12</key>
  <string>V_S_12.glif</string>
  <key>VS13</key>
  <string>V_S_13.glif</string>
  <key>VS14</key>
  <string>V_S_14.glif</string>
  <key>VS15</key>
  <string>V_S_15.glif</string>
  <key>VS16</key>
  <string>V_S_16.glif</string>
  <key>VS2</key>
  <string>V_S_2.glif</string>
  <key>VS3</key>
  <string>V_S_3.glif</string>
  <key>VS4</key>
  <string>V_S_4.glif</string>
  <key>VS5</key>
  <string>V_S_5.glif</string>
  <key>VS6</key>
  <string>V_S_6.glif</string>
  <key>VS7</key>
  <string>V_S_7.glif</string>
  <key>VS8</key>
  <string>V_S_8.glif</string>
  <key>VS9</key>
  <string>V_S_9.glif</string>
  <key>W</key>
  <string>W_.glif</string>
  <key>X</key>
  <string>X_.glif</string>
  <key>Y</key>
  <string>Y_.glif</string>
  <key>Yacute</key>
  <string>Y_acute.glif</string>
  <key>Ydieresis</key>
  <string>Y_dieresis.glif</string>
  <key>Z</key>
  <string>Z_.glif</string>
  <key>Zcaron</key>
  <string>Z_caron.glif</string>
  <key>a</key>
  <string>a.glif</string>
  <key>a.superior</key>
  <string>a.superior.glif</string>
  <key>aacute</key>
  <string>aacute.glif</string>
  <key>aamatra</key>
  <string>aamatra.glif</string>
  <key>aavowel</key>
  <string>aavowel.glif</string>
  <key>acircumflex</key>
  <string>acircumflex.glif</string>
  <key>acute</key>
  <string>acute.glif</string>
  <key>acutecomb</key>
  <string>acutecomb.glif</string>
  <key>acutecomb.case</key>
  <string>acutecomb.case.glif</string>
  <key>acutedeva</key>
  <string>acutedeva.glif</string>
  <key>adieresis</key>
  <string>adieresis.glif</string>
  <key>ae</key>
  <string>ae.glif</string>
  <key>agrave</key>
  <string>agrave.glif</string>
  <key>ailengthmark</key>
  <string>ailengthmark.glif</string>
  <key>aimatra</key>
  <string>aimatra.glif</string>
  <key>aivowel</key>
  <string>aivowel.glif</string>
  <key>ampersand</key>
  <string>ampersand.glif</string>
  <key>anudatta</key>
  <string>anudatta.glif</string>
  <key>anusvara</key>
  <string>anusvara.glif</string>
  <key>approxequal</key>
  <string>approxequal.glif</string>
  <key>aring</key>
  <string>aring.glif</string>
  <key>asciicircum</key>
  <string>asciicircum.glif</string>
  <key>asciitilde</key>
  <string>asciitilde.glif</string>
  <key>asterisk</key>
  <string>asterisk.glif</string>
  <key>at</key>
  <string>at.glif</string>
  <key>atilde</key>
  <string>atilde.glif</string>
  <key>aumatra</key>
  <string>aumatra.glif</string>
  <key>auvowel</key>
  <string>auvowel.glif</string>
  <key>avagraha</key>
  <string>avagraha.glif</string>
  <key>avowel</key>
  <string>avowel.glif</string>
  <key>b</key>
  <string>b.glif</string>
  <key>ba</key>
  <string>ba.glif</string>
  <key>ba.base</key>
  <string>ba.base.glif</string>
  <key>ba.imathra</key>
  <string>ba.imathra.glif</string>
  <key>ba.sub</key>
  <string>ba.sub.glif</string>
  <key>ba.virama</key>
  <string>ba.virama.glif</string>
  <key>backslash</key>
  <string>backslash.glif</string>
  <key>bar</key>
  <string>bar.glif</string>
  <key>bha</key>
  <string>bha.glif</string>
  <key>bha.base</key>
  <string>bha.base.glif</string>
  <key>bha.imathra</key>
  <string>bha.imathra.glif</string>
  <key>bha.sub</key>
  <string>bha.sub.glif</string>
  <key>bha.virama</key>
  <string>bha.virama.glif</string>
  <key>braceleft</key>
  <string>braceleft.glif</string>
  <key>braceright</key>
  <string>braceright.glif</string>
  <key>bracketleft</key>
  <string>bracketleft.glif</string>
  <key>bracketright</key>
  <string>bracketright.glif</string>
  <key>breve</key>
  <string>breve.glif</string>
  <key>brokenbar</key>
  <string>brokenbar.glif</string>
  <key>bullet</key>
  <string>bullet.glif</string>
  <key>bulletoperator</key>
  <string>bulletoperator.glif</string>
  <key>c</key>
  <string>c.glif</string>
  <key>ca</key>
  <string>ca.glif</string>
  <key>ca.base</key>
  <string>ca.base.glif</string>
  <key>ca.imathra</key>
  <string>ca.imathra.glif</string>
  <key>ca.sub</key>
  <string>ca.sub.glif</string>
  <key>ca.virama</key>
  <string>ca.virama.glif</string>
  <key>candrabindu</key>
  <string>candrabindu.glif</string>
  <key>caron</key>
  <string>caron.glif</string>
  <key>caroncomb</key>
  <string>caroncomb.glif</string>
  <key>caroncomb.case</key>
  <string>caroncomb.case.glif</string>
  <key>ccedilla</key>
  <string>ccedilla.glif</string>
  <key>cedilla</key>
  <string>cedilla.glif</string>
  <key>cedillacomb</key>
  <string>cedillacomb.glif</string>
  <key>cedillacomb.case</key>
  <string>cedillacomb.case.glif</string>
  <key>ceilingleft</key>
  <string>ceilingleft.glif</string>
  <key>ceilingright</key>
  <string>ceilingright.glif</string>
  <key>cent</key>
  <string>cent.glif</string>
  <key>cgj</key>
  <string>cgj.glif</string>
  <key>cha</key>
  <string>cha.glif</string>
  <key>cha.base</key>
  <string>cha.base.glif</string>
  <key>cha.imathra</key>
  <string>cha.imathra.glif</string>
  <key>cha.sub</key>
  <string>cha.sub.glif</string>
  <key>cha.virama</key>
  <string>cha.virama.glif</string>
  <key>circumflex</key>
  <string>circumflex.glif</string>
  <key>circumflexcomb</key>
  <string>circumflexcomb.glif</string>
  <key>circumflexcomb.case</key>
  <string>circumflexcomb.case.glif</string>
  <key>colon</key>
  <string>colon.glif</string>
  <key>colon.knda</key>
  <string>colon.knda.glif</string>
  <key>comma</key>
  <string>comma.glif</string>
  <key>comma.knda</key>
  <string>comma.knda.glif</string>
  <key>copyright</key>
  <string>copyright.glif</string>
  <key>cornerleftbottom</key>
  <string>cornerleftbottom.glif</string>
  <key>cornerlefttop</key>
  <string>cornerlefttop.glif</string>
  <key>cornerrightbottom</key>
  <string>cornerrightbottom.glif</string>
  <key>cornerrighttop</key>
  <string>cornerrighttop.glif</string>
  <key>currency</key>
  <string>currency.glif</string>
  <key>d</key>
  <string>d.glif</string>
  <key>da</key>
  <string>da.glif</string>
  <key>da.base</key>
  <string>da.base.glif</string>
  <key>da.imathra</key>
  <string>da.imathra.glif</string>
  <key>da.sub</key>
  <string>da.sub.glif</string>
  <key>da.virama</key>
  <string>da.virama.glif</string>
  <key>dagger</key>
  <string>dagger.glif</string>
  <key>daggerdbl</key>
  <string>daggerdbl.glif</string>
  <key>danda</key>
  <string>danda.glif</string>
  <key>dandadbl</key>
  <string>dandadbl.glif</string>
  <key>dda</key>
  <string>dda.glif</string>
  <key>dda.base</key>
  <string>dda.base.glif</string>
  <key>dda.imathra</key>
  <string>dda.imathra.glif</string>
  <key>dda.sub</key>
  <string>dda.sub.glif</string>
  <key>dda.virama</key>
  <string>dda.virama.glif</string>
  <key>ddha</key>
  <string>ddha.glif</string>
  <key>ddha.base</key>
  <string>ddha.base.glif</string>
  <key>ddha.imathra</key>
  <string>ddha.imathra.glif</string>
  <key>ddha.sub</key>
  <string>ddha.sub.glif</string>
  <key>ddha.virama</key>
  <string>ddha.virama.glif</string>
  <key>degree</key>
  <string>degree.glif</string>
  <key>dha</key>
  <string>dha.glif</string>
  <key>dha.base</key>
  <string>dha.base.glif</string>
  <key>dha.imathra</key>
  <string>dha.imathra.glif</string>
  <key>dha.sub</key>
  <string>dha.sub.glif</string>
  <key>dha.virama</key>
  <string>dha.virama.glif</string>
  <key>dieresis</key>
  <string>dieresis.glif</string>
  <key>dieresiscomb</key>
  <string>dieresiscomb.glif</string>
  <key>dieresiscomb.case</key>
  <string>dieresiscomb.case.glif</string>
  <key>divide</key>
  <string>divide.glif</string>
  <key>divisionslash</key>
  <string>divisionslash.glif</string>
  <key>dollar</key>
  <string>dollar.glif</string>
  <key>dotaccent</key>
  <string>dotaccent.glif</string>
  <key>dotlessi</key>
  <string>dotlessi.glif</string>
  <key>dottedcircle</key>
  <string>dottedcircle.glif</string>
  <key>dottedcircle.alt</key>
  <string>dottedcircle.alt.glif</string>
  <key>doublesvarita</key>
  <string>doublesvarita.glif</string>
  <key>e</key>
  <string>e.glif</string>
  <key>eacute</key>
  <string>eacute.glif</string>
  <key>ecircumflex</key>
  <string>ecircumflex.glif</string>
  <key>edieresis</key>
  <string>edieresis.glif</string>
  <key>eematra</key>
  <string>eematra.glif</string>
  <key>eevowel</key>
  <string>eevowel.glif</string>
  <key>egrave</key>
  <string>egrave.glif</string>
  <key>eight</key>
  <string>eight.glif</string>
  <key>eight.knda</key>
  <string>eight.knda.glif</string>
  <key>eightknda</key>
  <string>eightknda.glif</string>
  <key>eightsuperior</key>
  <string>eightsuperior.glif</string>
  <key>ellipsis</key>
  <string>ellipsis.glif</string>
  <key>ematra</key>
  <string>ematra.glif</string>
  <key>ematra.large</key>
  <string>ematra.large.glif</string>
  <key>emdash</key>
  <string>emdash.glif</string>
  <key>emquad</key>
  <string>emquad.glif</string>
  <key>emspace</key>
  <string>emspace.glif</string>
  <key>endash</key>
  <string>endash.glif</string>
  <key>enquad</key>
  <string>enquad.glif</string>
  <key>enspace</key>
  <string>enspace.glif</string>
  <key>equal</key>
  <string>equal.glif</string>
  <key>eth</key>
  <string>eth.glif</string>
  <key>evowel</key>
  <string>evowel.glif</string>
  <key>exclam</key>
  <string>exclam.glif</string>
  <key>exclam.knda</key>
  <string>exclam.knda.glif</string>
  <key>exclamdown</key>
  <string>exclamdown.glif</string>
  <key>f</key>
  <string>f.glif</string>
  <key>fa</key>
  <string>fa.glif</string>
  <key>fa.imathra</key>
  <string>fa.imathra.glif</string>
  <key>fa.sub</key>
  <string>fa.sub.glif</string>
  <key>fa.virama</key>
  <string>fa.virama.glif</string>
  <key>fi</key>
  <string>fi.glif</string>
  <key>figuredash</key>
  <string>figuredash.glif</string>
  <key>figurespace</key>
  <string>figurespace.glif</string>
  <key>five</key>
  <string>five.glif</string>
  <key>five.knda</key>
  <string>five.knda.glif</string>
  <key>fiveknda</key>
  <string>fiveknda.glif</string>
  <key>fivesuperior</key>
  <string>fivesuperior.glif</string>
  <key>fl</key>
  <string>fl.glif</string>
  <key>floorleft</key>
  <string>floorleft.glif</string>
  <key>floorright</key>
  <string>floorright.glif</string>
  <key>florin</key>
  <string>florin.glif</string>
  <key>four</key>
  <string>four.glif</string>
  <key>four.denominator</key>
  <string>four.denominator.glif</string>
  <key>four.knda</key>
  <string>four.knda.glif</string>
  <key>fourinferior</key>
  <string>fourinferior.glif</string>
  <key>fourknda</key>
  <string>fourknda.glif</string>
  <key>fourperemspace</key>
  <string>fourperemspace.glif</string>
  <key>foursuperior</key>
  <string>foursuperior.glif</string>
  <key>fraction</key>
  <string>fraction.glif</string>
  <key>g</key>
  <string>g.glif</string>
  <key>ga</key>
  <string>ga.glif</string>
  <key>ga.base</key>
  <string>ga.base.glif</string>
  <key>ga.imathra</key>
  <string>ga.imathra.glif</string>
  <key>ga.sub</key>
  <string>ga.sub.glif</string>
  <key>ga.virama</key>
  <string>ga.virama.glif</string>
  <key>germandbls</key>
  <string>germandbls.glif</string>
  <key>gha</key>
  <string>gha.glif</string>
  <key>gha.base</key>
  <string>gha.base.glif</string>
  <key>gha.imathra</key>
  <string>gha.imathra.glif</string>
  <key>gha.sub</key>
  <string>gha.sub.glif</string>
  <key>gha.virama</key>
  <string>gha.virama.glif</string>
  <key>grave</key>
  <string>grave.glif</string>
  <key>gravecomb</key>
  <string>gravecomb.glif</string>
  <key>gravecomb.case</key>
  <string>gravecomb.case.glif</string>
  <key>gravedeva</key>
  <string>gravedeva.glif</string>
  <key>greater</key>
  <string>greater.glif</string>
  <key>greaterequal</key>
  <string>greaterequal.glif</string>
  <key>guillemetleft</key>
  <string>guillemetleft.glif</string>
  <key>guillemetright</key>
  <string>guillemetright.glif</string>
  <key>guilsinglleft</key>
  <string>guilsinglleft.glif</string>
  <key>guilsinglright</key>
  <string>guilsinglright.glif</string>
  <key>h</key>
  <string>h.glif</string>
  <key>ha</key>
  <string>ha.glif</string>
  <key>ha.base</key>
  <string>ha.base.glif</string>
  <key>ha.imathra</key>
  <string>ha.imathra.glif</string>
  <key>ha.sub</key>
  <string>ha.sub.glif</string>
  <key>ha.virama</key>
  <string>ha.virama.glif</string>
  <key>hairspace</key>
  <string>hairspace.glif</string>
  <key>halfbracketleftbottom</key>
  <string>halfbracketleftbottom.glif</string>
  <key>halfbracketlefttop</key>
  <string>halfbracketlefttop.glif</string>
  <key>halfbracketrightbottom</key>
  <string>halfbracketrightbottom.glif</string>
  <key>halfbracketrighttop</key>
  <string>halfbracketrighttop.glif</string>
  <key>horizontalbar</key>
  <string>horizontalbar.glif</string>
  <key>hungarumlaut</key>
  <string>hungarumlaut.glif</string>
  <key>hyphen</key>
  <string>hyphen.glif</string>
  <key>hyphen.knda</key>
  <string>hyphen.knda.glif</string>
  <key>hyphenationpoint</key>
  <string>hyphenationpoint.glif</string>
  <key>hyphensuperior</key>
  <string>hyphensuperior.glif</string>
  <key>hyphentwo</key>
  <string>hyphentwo.glif</string>
  <key>i</key>
  <string>i.glif</string>
  <key>iacute</key>
  <string>iacute.glif</string>
  <key>icircumflex</key>
  <string>icircumflex.glif</string>
  <key>idieresis</key>
  <string>idieresis.glif</string>
  <key>igrave</key>
  <string>igrave.glif</string>
  <key>iimatra</key>
  <string>iimatra.glif</string>
  <key>iivowel</key>
  <string>iivowel.glif</string>
  <key>imatra</key>
  <string>imatra.glif</string>
  <key>infinity</key>
  <string>infinity.glif</string>
  <key>inherent</key>
  <string>inherent.glif</string>
  <key>inrupee</key>
  <string>inrupee.glif</string>
  <key>integral</key>
  <string>integral.glif</string>
  <key>ivowel</key>
  <string>ivowel.glif</string>
  <key>j</key>
  <string>j.glif</string>
  <key>ja</key>
  <string>ja.glif</string>
  <key>ja.base</key>
  <string>ja.base.glif</string>
  <key>ja.imathra</key>
  <string>ja.imathra.glif</string>
  <key>ja.sub</key>
  <string>ja.sub.glif</string>
  <key>ja.virama</key>
  <string>ja.virama.glif</string>
  <key>ja_nya</key>
  <string>ja_nya.glif</string>
  <key>ja_nya.base</key>
  <string>ja_nya.base.glif</string>
  <key>ja_nya.imathra</key>
  <string>ja_nya.imathra.glif</string>
  <key>jdotless</key>
  <string>jdotless.glif</string>
  <key>jha</key>
  <string>jha.glif</string>
  <key>jha.base</key>
  <string>jha.base.glif</string>
  <key>jha.imathra</key>
  <string>jha.imathra.glif</string>
  <key>jha.noEbase</key>
  <string>jha.noE_base.glif</string>
  <key>jha.part</key>
  <string>jha.part.glif</string>
  <key>jha.regbase</key>
  <string>jha.regbase.glif</string>
  <key>jha.sub</key>
  <string>jha.sub.glif</string>
  <key>jha.virama</key>
  <string>jha.virama.glif</string>
  <key>jihvamuliya</key>
  <string>jihvamuliya.glif</string>
  <key>k</key>
  <string>k.glif</string>
  <key>ka</key>
  <string>ka.glif</string>
  <key>ka.base</key>
  <string>ka.base.glif</string>
  <key>ka.imathra</key>
  <string>ka.imathra.glif</string>
  <key>ka.sub</key>
  <string>ka.sub.glif</string>
  <key>ka.virama</key>
  <string>ka.virama.glif</string>
  <key>ka_rvocalicmatra.below</key>
  <string>ka_rvocalicmatra.below.glif</string>
  <key>ka_ssa</key>
  <string>ka_ssa.glif</string>
  <key>ka_ssa.base</key>
  <string>ka_ssa.base.glif</string>
  <key>ka_ssa.imathra</key>
  <string>ka_ssa.imathra.glif</string>
  <key>kha</key>
  <string>kha.glif</string>
  <key>kha.base</key>
  <string>kha.base.glif</string>
  <key>kha.imathra</key>
  <string>kha.imathra.glif</string>
  <key>kha.sub</key>
  <string>kha.sub.glif</string>
  <key>kha.virama</key>
  <string>kha.virama.glif</string>
  <key>l</key>
  <string>l.glif</string>
  <key>la</key>
  <string>la.glif</string>
  <key>la.base</key>
  <string>la.base.glif</string>
  <key>la.imathra</key>
  <string>la.imathra.glif</string>
  <key>la.sub</key>
  <string>la.sub.glif</string>
  <key>la.virama</key>
  <string>la.virama.glif</string>
  <key>lengthmark</key>
  <string>lengthmark.glif</string>
  <key>less</key>
  <string>less.glif</string>
  <key>lessequal</key>
  <string>lessequal.glif</string>
  <key>lineseparator</key>
  <string>lineseparator.glif</string>
  <key>lla</key>
  <string>lla.glif</string>
  <key>lla.base</key>
  <string>lla.base.glif</string>
  <key>lla.imathra</key>
  <string>lla.imathra.glif</string>
  <key>lla.sub</key>
  <string>lla.sub.glif</string>
  <key>lla.virama</key>
  <string>lla.virama.glif</string>
  <key>llvocalicmatra</key>
  <string>llvocalicmatra.glif</string>
  <key>llvocalicmatra.alt</key>
  <string>llvocalicmatra.alt.glif</string>
  <key>llvocalicvowel</key>
  <string>llvocalicvowel.glif</string>
  <key>logicalnot</key>
  <string>logicalnot.glif</string>
  <key>lozenge</key>
  <string>lozenge.glif</string>
  <key>lvocalicmatra</key>
  <string>lvocalicmatra.glif</string>
  <key>lvocalicmatra.alt</key>
  <string>lvocalicmatra.alt.glif</string>
  <key>lvocalicvowel</key>
  <string>lvocalicvowel.glif</string>
  <key>lvocalicvowel.part</key>
  <string>lvocalicvowel.part.glif</string>
  <key>m</key>
  <string>m.glif</string>
  <key>ma</key>
  <string>ma.glif</string>
  <key>ma.base</key>
  <string>ma.base.glif</string>
  <key>ma.imathra</key>
  <string>ma.imathra.glif</string>
  <key>ma.noEbase</key>
  <string>ma.noE_base.glif</string>
  <key>ma.regbase</key>
  <string>ma.regbase.glif</string>
  <key>ma.sub</key>
  <string>ma.sub.glif</string>
  <key>ma.virama</key>
  <string>ma.virama.glif</string>
  <key>macron</key>
  <string>macron.glif</string>
  <key>minus</key>
  <string>minus.glif</string>
  <key>mu</key>
  <string>mu.glif</string>
  <key>mu.copy1</key>
  <string>mu.copy1.glif</string>
  <key>multiply</key>
  <string>multiply.glif</string>
  <key>n</key>
  <string>n.glif</string>
  <key>na</key>
  <string>na.glif</string>
  <key>na.base</key>
  <string>na.base.glif</string>
  <key>na.imathra</key>
  <string>na.imathra.glif</string>
  <key>na.sub</key>
  <string>na.sub.glif</string>
  <key>na.virama</key>
  <string>na.virama.glif</string>
  <key>na_virama</key>
  <string>na_virama.glif</string>
  <key>nbhyphen</key>
  <string>nbhyphen.glif</string>
  <key>nbspace</key>
  <string>nbspace.glif</string>
  <key>nbspace.knda</key>
  <string>nbspace.knda.glif</string>
  <key>nga</key>
  <string>nga.glif</string>
  <key>nga.sub</key>
  <string>nga.sub.glif</string>
  <key>nga.virama</key>
  <string>nga.virama.glif</string>
  <key>nine</key>
  <string>nine.glif</string>
  <key>nine.knda</key>
  <string>nine.knda.glif</string>
  <key>nineknda</key>
  <string>nineknda.glif</string>
  <key>ninesuperior</key>
  <string>ninesuperior.glif</string>
  <key>nna</key>
  <string>nna.glif</string>
  <key>nna.base</key>
  <string>nna.base.glif</string>
  <key>nna.imathra</key>
  <string>nna.imathra.glif</string>
  <key>nna.sub</key>
  <string>nna.sub.glif</string>
  <key>nna.virama</key>
  <string>nna.virama.glif</string>
  <key>nnbspace</key>
  <string>nnbspace.glif</string>
  <key>nonmarkingreturn</key>
  <string>nonmarkingreturn.glif</string>
  <key>notequal</key>
  <string>notequal.glif</string>
  <key>ntilde</key>
  <string>ntilde.glif</string>
  <key>nukta</key>
  <string>nukta.glif</string>
  <key>nukta.alt</key>
  <string>nukta.alt.glif</string>
  <key>numbersign</key>
  <string>numbersign.glif</string>
  <key>nya</key>
  <string>nya.glif</string>
  <key>nya.sub</key>
  <string>nya.sub.glif</string>
  <key>nya.virama</key>
  <string>nya.virama.glif</string>
  <key>o</key>
  <string>o.glif</string>
  <key>o.superior</key>
  <string>o.superior.glif</string>
  <key>oacute</key>
  <string>oacute.glif</string>
  <key>objectReplacementCharacter</key>
  <string>objectR_eplacementC_haracter.glif</string>
  <key>ocircumflex</key>
  <string>ocircumflex.glif</string>
  <key>odieresis</key>
  <string>odieresis.glif</string>
  <key>oe</key>
  <string>oe.glif</string>
  <key>ogonek</key>
  <string>ogonek.glif</string>
  <key>ograve</key>
  <string>ograve.glif</string>
  <key>om</key>
  <string>om.glif</string>
  <key>omatra</key>
  <string>omatra.glif</string>
  <key>omatra.large</key>
  <string>omatra.large.glif</string>
  <key>one</key>
  <string>one.glif</string>
  <key>one.knda</key>
  <string>one.knda.glif</string>
  <key>one.numerator</key>
  <string>one.numerator.glif</string>
  <key>onehalf</key>
  <string>onehalf.glif</string>
  <key>oneknda</key>
  <string>oneknda.glif</string>
  <key>onequarter</key>
  <string>onequarter.glif</string>
  <key>onesuperior</key>
  <string>onesuperior.glif</string>
  <key>oomatra</key>
  <string>oomatra.glif</string>
  <key>oomatra.large</key>
  <string>oomatra.large.glif</string>
  <key>oovowel</key>
  <string>oovowel.glif</string>
  <key>openbox</key>
  <string>openbox.glif</string>
  <key>ordfeminine</key>
  <string>ordfeminine.glif</string>
  <key>ordmasculine</key>
  <string>ordmasculine.glif</string>
  <key>oslash</key>
  <string>oslash.glif</string>
  <key>otilde</key>
  <string>otilde.glif</string>
  <key>ovowel</key>
  <string>ovowel.glif</string>
  <key>p</key>
  <string>p.glif</string>
  <key>pa</key>
  <string>pa.glif</string>
  <key>pa.base</key>
  <string>pa.base.glif</string>
  <key>pa.imathra</key>
  <string>pa.imathra.glif</string>
  <key>pa.sub</key>
  <string>pa.sub.glif</string>
  <key>pa.virama</key>
  <string>pa.virama.glif</string>
  <key>paragraph</key>
  <string>paragraph.glif</string>
  <key>paragraphseparator</key>
  <string>paragraphseparator.glif</string>
  <key>parenleft</key>
  <string>parenleft.glif</string>
  <key>parenleft.knda</key>
  <string>parenleft.knda.glif</string>
  <key>parenleftsuperior</key>
  <string>parenleftsuperior.glif</string>
  <key>parenright</key>
  <string>parenright.glif</string>
  <key>parenright.knda</key>
  <string>parenright.knda.glif</string>
  <key>parenrightsuperior</key>
  <string>parenrightsuperior.glif</string>
  <key>partialdiff</key>
  <string>partialdiff.glif</string>
  <key>percent</key>
  <string>percent.glif</string>
  <key>period</key>
  <string>period.glif</string>
  <key>period.knda</key>
  <string>period.knda.glif</string>
  <key>periodcentered</key>
  <string>periodcentered.glif</string>
  <key>perthousand</key>
  <string>perthousand.glif</string>
  <key>pha</key>
  <string>pha.glif</string>
  <key>pha.base</key>
  <string>pha.base.glif</string>
  <key>pha.imathra</key>
  <string>pha.imathra.glif</string>
  <key>pha.sub</key>
  <string>pha.sub.glif</string>
  <key>pha.virama</key>
  <string>pha.virama.glif</string>
  <key>pi</key>
  <string>pi.glif</string>
  <key>plus</key>
  <string>plus.glif</string>
  <key>plusminus</key>
  <string>plusminus.glif</string>
  <key>product</key>
  <string>product.glif</string>
  <key>punctuationspace</key>
  <string>punctuationspace.glif</string>
  <key>q</key>
  <string>q.glif</string>
  <key>question</key>
  <string>question.glif</string>
  <key>question.knda</key>
  <string>question.knda.glif</string>
  <key>questiondown</key>
  <string>questiondown.glif</string>
  <key>quotedbl</key>
  <string>quotedbl.glif</string>
  <key>quotedblbase</key>
  <string>quotedblbase.glif</string>
  <key>quotedblleft</key>
  <string>quotedblleft.glif</string>
  <key>quotedblleft.knda</key>
  <string>quotedblleft.knda.glif</string>
  <key>quotedblright</key>
  <string>quotedblright.glif</string>
  <key>quotedblright.knda</key>
  <string>quotedblright.knda.glif</string>
  <key>quoteleft</key>
  <string>quoteleft.glif</string>
  <key>quoteleft.knda</key>
  <string>quoteleft.knda.glif</string>
  <key>quoteright</key>
  <string>quoteright.glif</string>
  <key>quoteright.knda</key>
  <string>quoteright.knda.glif</string>
  <key>quotesinglbase</key>
  <string>quotesinglbase.glif</string>
  <key>quotesingle</key>
  <string>quotesingle.glif</string>
  <key>r</key>
  <string>r.glif</string>
  <key>ra</key>
  <string>ra.glif</string>
  <key>ra.base</key>
  <string>ra.base.glif</string>
  <key>ra.below</key>
  <string>ra.below.glif</string>
  <key>ra.below.large</key>
  <string>ra.below.large.glif</string>
  <key>ra.below.ra</key>
  <string>ra.below.ra.glif</string>
  <key>ra.below.subcons</key>
  <string>ra.below.subcons.glif</string>
  <key>ra.imathra</key>
  <string>ra.imathra.glif</string>
  <key>ra.virama</key>
  <string>ra.virama.glif</string>
  <key>ra_ailengthmark.below</key>
  <string>ra_ailengthmark.below.glif</string>
  <key>radical</key>
  <string>radical.glif</string>
  <key>registered</key>
  <string>registered.glif</string>
  <key>replacementCharacter</key>
  <string>replacementC_haracter.glif</string>
  <key>ring</key>
  <string>ring.glif</string>
  <key>ringcomb</key>
  <string>ringcomb.glif</string>
  <key>ringcomb.case</key>
  <string>ringcomb.case.glif</string>
  <key>rra</key>
  <string>rra.glif</string>
  <key>rra.imathra</key>
  <string>rra.imathra.glif</string>
  <key>rra.sub</key>
  <string>rra.sub.glif</string>
  <key>rra.virama</key>
  <string>rra.virama.glif</string>
  <key>rrvocalicmatra</key>
  <string>rrvocalicmatra.glif</string>
  <key>rrvocalicvowel</key>
  <string>rrvocalicvowel.glif</string>
  <key>rupee</key>
  <string>rupee.glif</string>
  <key>rvocalicmatra</key>
  <string>rvocalicmatra.glif</string>
  <key>rvocalicvowel</key>
  <string>rvocalicvowel.glif</string>
  <key>rvocalicvowel.part</key>
  <string>rvocalicvowel.part.glif</string>
  <key>s</key>
  <string>s.glif</string>
  <key>sa</key>
  <string>sa.glif</string>
  <key>sa.base</key>
  <string>sa.base.glif</string>
  <key>sa.imathra</key>
  <string>sa.imathra.glif</string>
  <key>sa.sub</key>
  <string>sa.sub.glif</string>
  <key>sa.virama</key>
  <string>sa.virama.glif</string>
  <key>scaron</key>
  <string>scaron.glif</string>
  <key>section</key>
  <string>section.glif</string>
  <key>semicolon</key>
  <string>semicolon.glif</string>
  <key>semicolon.knda</key>
  <string>semicolon.knda.glif</string>
  <key>seven</key>
  <string>seven.glif</string>
  <key>seven.knda</key>
  <string>seven.knda.glif</string>
  <key>sevenknda</key>
  <string>sevenknda.glif</string>
  <key>sevensuperior</key>
  <string>sevensuperior.glif</string>
  <key>sha</key>
  <string>sha.glif</string>
  <key>sha.base</key>
  <string>sha.base.glif</string>
  <key>sha.imathra</key>
  <string>sha.imathra.glif</string>
  <key>sha.sub</key>
  <string>sha.sub.glif</string>
  <key>sha.virama</key>
  <string>sha.virama.glif</string>
  <key>sha_ra.imathra</key>
  <string>sha_ra.imathra.glif</string>
  <key>shortrr</key>
  <string>shortrr.glif</string>
  <key>siddham</key>
  <string>siddham.glif</string>
  <key>sidebearingleft</key>
  <string>sidebearingleft.glif</string>
  <key>sidebearingright</key>
  <string>sidebearingright.glif</string>
  <key>six</key>
  <string>six.glif</string>
  <key>six.knda</key>
  <string>six.knda.glif</string>
  <key>sixknda</key>
  <string>sixknda.glif</string>
  <key>sixperemspace</key>
  <string>sixperemspace.glif</string>
  <key>sixsuperior</key>
  <string>sixsuperior.glif</string>
  <key>slash</key>
  <string>slash.glif</string>
  <key>slash.knda</key>
  <string>slash.knda.glif</string>
  <key>softhyphen</key>
  <string>softhyphen.glif</string>
  <key>space</key>
  <string>space.glif</string>
  <key>space.knda</key>
  <string>space.knda.glif</string>
  <key>spacingcandrabindu</key>
  <string>spacingcandrabindu.glif</string>
  <key>ssa</key>
  <string>ssa.glif</string>
  <key>ssa.base</key>
  <string>ssa.base.glif</string>
  <key>ssa.imathra</key>
  <string>ssa.imathra.glif</string>
  <key>ssa.sub</key>
  <string>ssa.sub.glif</string>
  <key>ssa.virama</key>
  <string>ssa.virama.glif</string>
  <key>sterling</key>
  <string>sterling.glif</string>
  <key>summation</key>
  <string>summation.glif</string>
  <key>t</key>
  <string>t.glif</string>
  <key>ta</key>
  <string>ta.glif</string>
  <key>ta.base</key>
  <string>ta.base.glif</string>
  <key>ta.imathra</key>
  <string>ta.imathra.glif</string>
  <key>ta.sub</key>
  <string>ta.sub.glif</string>
  <key>ta.virama</key>
  <string>ta.virama.glif</string>
  <key>ta_ailengthmark.below</key>
  <string>ta_ailengthmark.below.glif</string>
  <key>ta_rvocalicmatra.below</key>
  <string>ta_rvocalicmatra.below.glif</string>
  <key>ta_va.below</key>
  <string>ta_va.below.glif</string>
  <key>ta_ya.below</key>
  <string>ta_ya.below.glif</string>
  <key>tha</key>
  <string>tha.glif</string>
  <key>tha.base</key>
  <string>tha.base.glif</string>
  <key>tha.imathra</key>
  <string>tha.imathra.glif</string>
  <key>tha.sub</key>
  <string>tha.sub.glif</string>
  <key>tha.virama</key>
  <string>tha.virama.glif</string>
  <key>thinspace</key>
  <string>thinspace.glif</string>
  <key>thorn</key>
  <string>thorn.glif</string>
  <key>three</key>
  <string>three.glif</string>
  <key>three.knda</key>
  <string>three.knda.glif</string>
  <key>three.numerator</key>
  <string>three.numerator.glif</string>
  <key>threeknda</key>
  <string>threeknda.glif</string>
  <key>threeperemspace</key>
  <string>threeperemspace.glif</string>
  <key>threequarters</key>
  <string>threequarters.glif</string>
  <key>threesuperior</key>
  <string>threesuperior.glif</string>
  <key>tilde</key>
  <string>tilde.glif</string>
  <key>tildecomb</key>
  <string>tildecomb.glif</string>
  <key>tildecomb.case</key>
  <string>tildecomb.case.glif</string>
  <key>trademark</key>
  <string>trademark.glif</string>
  <key>tta</key>
  <string>tta.glif</string>
  <key>tta.base</key>
  <string>tta.base.glif</string>
  <key>tta.imathra</key>
  <string>tta.imathra.glif</string>
  <key>tta.sub</key>
  <string>tta.sub.glif</string>
  <key>tta.virama</key>
  <string>tta.virama.glif</string>
  <key>ttha</key>
  <string>ttha.glif</string>
  <key>ttha.base</key>
  <string>ttha.base.glif</string>
  <key>ttha.imathra</key>
  <string>ttha.imathra.glif</string>
  <key>ttha.sub</key>
  <string>ttha.sub.glif</string>
  <key>ttha.virama</key>
  <string>ttha.virama.glif</string>
  <key>two</key>
  <string>two.glif</string>
  <key>two.denominator</key>
  <string>two.denominator.glif</string>
  <key>two.knda</key>
  <string>two.knda.glif</string>
  <key>twoinferior</key>
  <string>twoinferior.glif</string>
  <key>twoknda</key>
  <string>twoknda.glif</string>
  <key>twosuperior</key>
  <string>twosuperior.glif</string>
  <key>u</key>
  <string>u.glif</string>
  <key>uacute</key>
  <string>uacute.glif</string>
  <key>ucircumflex</key>
  <string>ucircumflex.glif</string>
  <key>udatta</key>
  <string>udatta.glif</string>
  <key>udieresis</key>
  <string>udieresis.glif</string>
  <key>ugrave</key>
  <string>ugrave.glif</string>
  <key>umatra</key>
  <string>umatra.glif</string>
  <key>umatra.large</key>
  <string>umatra.large.glif</string>
  <key>underscore</key>
  <string>underscore.glif</string>
  <key>upadhmaniya</key>
  <string>upadhmaniya.glif</string>
  <key>uumatra</key>
  <string>uumatra.glif</string>
  <key>uumatra.large</key>
  <string>uumatra.large.glif</string>
  <key>uuvowel</key>
  <string>uuvowel.glif</string>
  <key>uvowel</key>
  <string>uvowel.glif</string>
  <key>v</key>
  <string>v.glif</string>
  <key>va</key>
  <string>va.glif</string>
  <key>va.base</key>
  <string>va.base.glif</string>
  <key>va.imathra</key>
  <string>va.imathra.glif</string>
  <key>va.sub</key>
  <string>va.sub.glif</string>
  <key>va.virama</key>
  <string>va.virama.glif</string>
  <key>vedicsignjihvamuliya</key>
  <string>vedicsignjihvamuliya.glif</string>
  <key>vedictonedotbelow</key>
  <string>vedictonedotbelow.glif</string>
  <key>vedictonekathakaanudatta</key>
  <string>vedictonekathakaanudatta.glif</string>
  <key>vedictonethreedotsbelow</key>
  <string>vedictonethreedotsbelow.glif</string>
  <key>vedictonetwodotsbelow</key>
  <string>vedictonetwodotsbelow.glif</string>
  <key>virama</key>
  <string>virama.glif</string>
  <key>visarga</key>
  <string>visarga.glif</string>
  <key>w</key>
  <string>w.glif</string>
  <key>widebase</key>
  <string>widebase.glif</string>
  <key>wj</key>
  <string>wj.glif</string>
  <key>x</key>
  <string>x.glif</string>
  <key>xmatra</key>
  <string>xmatra.glif</string>
  <key>y</key>
  <string>y.glif</string>
  <key>ya</key>
  <string>ya.glif</string>
  <key>ya.base</key>
  <string>ya.base.glif</string>
  <key>ya.imathra</key>
  <string>ya.imathra.glif</string>
  <key>ya.noEbase</key>
  <string>ya.noE_base.glif</string>
  <key>ya.part</key>
  <string>ya.part.glif</string>
  <key>ya.regbase</key>
  <string>ya.regbase.glif</string>
  <key>ya.sub</key>
  <string>ya.sub.glif</string>
  <key>ya.virama</key>
  <string>ya.virama.glif</string>
  <key>yacute</key>
  <string>yacute.glif</string>
  <key>ydieresis</key>
  <string>ydieresis.glif</string>
  <key>yen</key>
  <string>yen.glif</string>
  <key>z</key>
  <string>z.glif</string>
  <key>zcaron</key>
  <string>zcaron.glif</string>
  <key>zero</key>
  <string>zero.glif</string>
  <key>zero.knda</key>
  <string>zero.knda.glif</string>
  <key>zeroknda</key>
  <string>zeroknda.glif</string>
  <key>zerosuperior</key>
  <string>zerosuperior.glif</string>
  <key>zwj</key>
  <string>zwj.glif</string>
  <key>zwnbsp</key>
  <string>zwnbsp.glif</string>
  <key>zwnj</key>
  <string>zwnj.glif</string>
  <key>zwsp</key>
  <string>zwsp.glif</string>
</dict>
</plist>
