<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>ematra.large</key>
  <string>ematra.large.glif</string>
  <key>emdash</key>
  <string>emdash.glif</string>
  <key>figuredash</key>
  <string>figuredash.glif</string>
  <key>horizontalbar</key>
  <string>horizontalbar.glif</string>
  <key>iivowel</key>
  <string>iivowel.glif</string>
</dict>
</plist>
