<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>public.kern1.aumatra_ligs</key>
  <array>
    <string>ba_aumatra</string>
    <string>bha_aumatra</string>
    <string>ca_aumatra</string>
    <string>cha_aumatra</string>
    <string>da_aumatra</string>
    <string>dda_aumatra</string>
    <string>ddha_aumatra</string>
    <string>dha_aumatra</string>
    <string>fa_aumatra</string>
    <string>ga_aumatra</string>
    <string>gha_aumatra</string>
    <string>ha_aumatra</string>
    <string>ja_aumatra</string>
    <string>ja_nya_aumatra</string>
    <string>jha_aumatra</string>
    <string>ka_aumatra</string>
    <string>ka_ssa_aumatra</string>
    <string>kha_aumatra</string>
    <string>la_aumatra</string>
    <string>lla_aumatra</string>
    <string>ma_aumatra</string>
    <string>na_aumatra</string>
    <string>nga_aumatra</string>
    <string>nna_aumatra</string>
    <string>nya_aumatra</string>
    <string>pa_aumatra</string>
    <string>pha_aumatra</string>
    <string>ra_aumatra</string>
    <string>rra_aumatra</string>
    <string>sa_aumatra</string>
    <string>sha_aumatra</string>
    <string>ssa_aumatra</string>
    <string>ta_aumatra</string>
    <string>tha_aumatra</string>
    <string>tta_aumatra</string>
    <string>ttha_aumatra</string>
    <string>va_aumatra</string>
    <string>ya_aumatra</string>
  </array>
  <key>public.kern1.virama_ligs</key>
  <array>
    <string>ba_virama</string>
    <string>bha_virama</string>
    <string>ca_virama</string>
    <string>cha_virama</string>
    <string>da_virama</string>
    <string>dda_virama</string>
    <string>ddha_virama</string>
    <string>dha_virama</string>
    <string>fa_virama</string>
    <string>ga_virama</string>
    <string>gha_virama</string>
    <string>ha_virama</string>
    <string>ja_nya_virama</string>
    <string>ja_virama</string>
    <string>jha_virama</string>
    <string>ka_ssa_virama</string>
    <string>ka_virama</string>
    <string>kha_virama</string>
    <string>la_virama</string>
    <string>lla_virama</string>
    <string>ma_virama</string>
    <string>na_virama</string>
    <string>nga_virama</string>
    <string>nna_virama</string>
    <string>nya_virama</string>
    <string>pa_virama</string>
    <string>pha_virama</string>
    <string>ra_virama</string>
    <string>rra_virama</string>
    <string>sa_virama</string>
    <string>sha_virama</string>
    <string>ssa_virama</string>
    <string>ta_virama</string>
    <string>tha_virama</string>
    <string>tta_virama</string>
    <string>ttha_virama</string>
    <string>va_virama</string>
    <string>ya_virama</string>
  </array>
  <key>public.kern2.sub_cons</key>
  <array>
    <string>ba.sub</string>
    <string>bha.sub</string>
    <string>ca.sub</string>
    <string>cha.sub</string>
    <string>da.sub</string>
    <string>dda.sub</string>
    <string>ddha.sub</string>
    <string>dha.sub</string>
    <string>fa.sub</string>
    <string>ga.sub</string>
    <string>gha.sub</string>
    <string>ha.sub</string>
    <string>ja.sub</string>
    <string>jha.sub</string>
    <string>ka.sub</string>
    <string>kha.sub</string>
    <string>la.sub</string>
    <string>lla.sub</string>
    <string>ma.sub</string>
    <string>na.sub</string>
    <string>nga.sub</string>
    <string>nna.sub</string>
    <string>nya.sub</string>
    <string>pa.sub</string>
    <string>pha.sub</string>
    <string>rra.sub</string>
    <string>sa.sub</string>
    <string>sha.sub</string>
    <string>ssa.sub</string>
    <string>ta.sub</string>
    <string>tha.sub</string>
    <string>tta.sub</string>
    <string>ttha.sub</string>
    <string>va.sub</string>
    <string>ya.sub</string>
  </array>
</dict>
</plist>
