name: smith

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v2
      - name: Install smith toolchain
        run: |
          sudo add-apt-repository -y ppa:silnrsi/smith-py3
          # sudo add-apt-repository -y ppa:sile-typesetter/sile
          # sudo add-apt-repository -y ppa:fontforge/fontforge
          # sudo add-apt-repository -y ppa:jonathonf/texlive-2019
          # sudo add-apt-repository -y ppa:git-core/ppa
          sudo apt-get update -q -y
          sudo apt-get install libtext-unicode-equivalents-perl libtext-pdf-perl libio-string-perl libfont-ttf-scripts-perl libfont-ttf-perl libalgorithm-diff-perl libxml-parser-perl grcompiler libtext-csv-perl -y -qq
          # sudo apt-get remove *php* *mono* *dotnet* -y
          # sudo apt-get autoremove -y
          # sudo apt-get upgrade -q -y
          # sudo apt-get install libjson-perl libtext-csv-perl libharfbuzz-bin -y
          # sudo apt-get install smith-font -y --no-install-recommends
          sudo apt-get install python3-pip python3-setuptools -y
          pip3 install fontmake --user
          pip3 install MutatorMath --user
          python3 -m pip install --upgrade git+https://github.com/silnrsi/pysilfont.git@master#egg=pysilfont --user
          python3 -m pip install --upgrade git+https://github.com/silnrsi/smith.git@master#egg=smith --user
          # sudo pip3 install --upgrade git+https://github.com/googlefonts/fontbakery.git@main#egg=fontbakery
      - name: configure / build / test / release
        run: |
          # smith version
          smith configure
          smith build
          # smith alltests
          smith zip
          # smith tarball
          # smith release
      - uses: actions/upload-artifact@master
        with:
          name: download
          path: results/releases
      - uses: marvinpinto/action-automatic-releases@latest
        with:
          repo_token: "${{ secrets.GITHUB_TOKEN }}"
          automatic_release_tag: "dev"
          prerelease: true
          title: "Development Build"
          files: |
            results/releases
